<nav class="ui menu">
  <header class="ui header item"> <a href="/"> HomePage</a></header>
  <div class="right menu">
    <a id="film" class="item" href="/film"> Film Suggestions </a>
    <a id="game" class="item" href="/game"> Favourite Games </a>
    <a id="about" class="item" href="/about"> About Myself </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>

