{{> menu id="about"}}
<div class="ui column">
<section class="ui center aligned middle aligned segment">
  <h2>
    Hello, My name is Donal Wall. I am 19 and enjoy playing video games, watching movies and listening
    to music.
  </h2>
  </section>
  <section class="ui center aligned middle aligned segment">
  <p>
    I live in Tramore, a coastal town in County Waterford, about 10 minutes 
    from Waterford City. I work part time in the Majestic Hotel
    as a bartender. I find this job quite difficult as dealing with the public is not always easy.I am a big
    fan of movies and video games, as shown in my other tabs.
  </p>
    <img class="ui circular rounded" src="https://cdn.glitch.global/b1bcf66e-713c-43f0-91bb-151b59ff9f38/thumbnails_felix.jpg?v=1647442329365">
<br>
    <button class="ui red button" onclick="welcomeUser()">
          Who are you? <i class="user icon"></i>
        </button>
  </section>
</div>