{{> menu id="film"}}

<section class="ui segment">
  {{> listfilmlist}}
  {{> addfilm}}
  
  <button class="ui blue button" onclick="getRating()">
    Rate my lists <i class="star icon"></i>
  </button>
</section>