{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  
<img class="ui circular rounded" src="https://cdn.glitch.global/e3c0347c-2ec8-4740-863a-9cfc885779a9/fuze.jpg?v=1651166294576" width="277">

</section>

<section class="ui center aligned middle aligned segment">
  <p> <strong>Sign up</strong> or <strong>Log in</strong> to my website above</p>
</section>